<div>
  <p>Are you sure you want to delete your library? This will delete your entire BlocBooks account, and when it's gone, it's gone (none of that "We're Facebook and we keep your stuff whether you delete it or not" nonsense).</p>
  <p class="button">Yes, I'm sure, delete everything permanently and quit nagging.</p>
  <p class="button">Nope, I have seen the light and changed my mind.</p>
</div>
