<div>
  <p>Update your first name:</p>
  <p>Update your last name:</p>
  <p>Update your email address:</p>
  <p>For just $50/month, you can give your library a name different from (Your First Name)'s Library. Would you like to pay this completely reasonable recurring charge?</p>
  <p class="button">Of course!</p>
  <p class="button">No, you and I have different definitions of "reasonable".</p>
  <p class="button">Update your library's information.</p>
</div>
